body{
    background-color:rgba(42, 35, 143, 0.829);
    font-family: 'Lucida Sans';
    font-size: small;
    color: #050004;
    text-align: center;
    display: inline;
    font-size: 14px;
    }
    h3{
    font-family: 'Lucida Sans';
    font-size: small;
    color: #073532;
    text-align: center;
    display: inline;
    font-size: 14px;
    }
    .linha {
    font-family: 'Lucida Sans';
    font-size: small;
    font-size: 12px;
    background-color:rgb(140, 191, 224);
    }
    .lista {
    font-family: 'Lucida Sans';
    font-size: small;
    text-align: left;
    font-size: 12px;
    color:rgb(4, 39, 39);
    }
    .itens {
    background-color: rgb(211, 204, 174);
    }